.container {
  //Tranforme mx-auto do tailwind em margin: 0 auto do css
  margin: 0 auto;
  //use grid
  display: grid;

  height: 100vh;

  //max-h-[860px] do tailwind
  max-height: 860px;

  //w-full do tailwind
  width: 100%;

  //max-w-[14 00px] do tailwind
  max-width: 1400px;

  //grid-rows-[min-content_max-content] do tailwind
  grid-template-rows: min-content max-content;

  //gap-5 do tailwind
  gap: 20px;

  //p-8 do tailwind
  padding: 32px;
}