.container {
  //Tranforme mx-auto do tailwind em margin: 0 auto do css
  margin: 0 auto;
  //use grid
  display: grid;

  //min-h-screen do tailwind
  min-height: 100vh;

  //w-full do tailwind
  width: 100%;

  //max-w-[1600px] do tailwind
  max-width: 1600px;

  //grid-rows-[min-content_max-content] do tailwind
  grid-template-rows: min-content max-content;

  //gap-5 do tailwind
  gap: 20px;

  //p-8 do tailwind
  padding: 32px;
}